# for app functionality
streamlit
streamlit.report_thread
pathlib
subprocess
glob2
re # for stoc.py
#unidecode # for stoc.py
# for script computations
argparse
prody
biopython
matplotlib
r-base
r-biocmanager
r-bio3d
r-optparse
r-r.utils
r-pheatmap
r-ggplot2
r-umap
r-cluster
r-clvalid
r-remotes # for direct installation from bitbucket
bioconductor-msa
